* { margin: 0; padding: 0; }

body{
	   background-color: #2C3E50;
	   font-family: Helvetica;
}

.top-box{
	background-color: #ECF0F1;
	display: block;
	height: 250px;

}
.profile{

}

.profile-image{
	border-radius: 50%
	
}
.flex {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
}

.column {
    flex-direction: column;
}

.bio{
	margin-top: 150px;
}

.footer{
	background-color: #ECF0F1;
	display: block;
	height: 75px;
	margin-top: 50px;

}


.blue {
	color: blue;
}

h1{
	color: #E74C3C;
}
h2{
	color: #ECF0F1;
}

section.column{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
}

.header {
	border-top: solid 25px #ECF0F1;
}

.nav{
	margin-top: 12px;
	margin-left: 10%;
}

.nav-left{
	float: left;
}

.nav-right{
	float: right;
}

.clear {
	clear: both;
}

.nav-item{
	list-style: none;
	display: inline;
	margin-right: 200px;
}

.nav-list{
	clear: both;
}

a{
	color: #2980B9;
	text-decoration: none;
}

a:hover{
	color: #48b2e8;
}


button{
	background-color: #ECF0F1;
	text-decoration: none;
	border-style: none;
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 15px 45px;
	font-size: 48px;
	font-family: "Bitter",serif;
	line-height: 1.8;
	vertical-align: bottom;
	box-shadow: none;
	border-radius: 0;
	position: fixed;
}

.work-box{
	margin-top: 25px;
	background-color: #ECF0F1;
	border-style: none;
	padding: 15px 45px;
	font-family: "Bitter",serif;
	line-height: 1.8;
	box-shadow: none;
	border-radius: 10px;
	height: 200px;
}

.work-title{
	font-size: 12px
	color: #2C3E50;
}

.work-info{
	float: left;
}





.title{
	color:ECF0F1;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-sub {
	font-size: 30px;
}